*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #4f4f6a;
    position: relative;
    min-height: 100vh;
    padding-bottom: 320px;
}

/*Ordenes Generales*/

.contenedor{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#slideshow{
    margin: auto;
    overflow: hidden;
    background-color: #3E3E5C;
}

hr{

    height: 2px;
    color: #3b3bd9;
}

/*Header*/
header{
    background-color: #3E3E5C;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;   
}

header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

header li{
    list-style: none;
    float:left;
    padding: 0 20px;
}

header #logo{

    float: left;
}

header nav {
    margin-top: 10px;
    float: right;
}

header a:hover{
    color: #8080E0;
}

header .marcado{
    color: #c2c2f1;
}

.mySlides {
    display: none;
  }

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.slideshow-container img {
    vertical-align: middle;
    filter: brightness(70%);
    max-height: 500px;
    
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #3E3E5C;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 2px 25px 2px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #2c2c2c;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Campanias */

#campania h2{
  text-align: center;
  margin-top: 50px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 64px;
}

#box-mother{
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  margin: auto;
  gap: 20px;
  flex-flow: row wrap;
  margin-top: 50px;
}

.box{
  display: flex;
  background-color: #2c2c41;
  width: 380px;
  min-height: 550px;
  font-family: 'Roboto';
  font-size: 30px;
  border-radius: .2em;
  position: relative;
  flex-direction: column;
}

.box h3{
  text-align: center;
  padding: 20px 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}

.box .ph_promo{
  width: 300px;
  height: 120px;
  margin: 0 0 20px 50px;
  border-radius: .2em;
}

.box_logo{
  width: 20px;
  height: 20px;
}

.flex_logo{
  display: flex;
  align-items: center;
  height: 1em;
  width: 100%;
  justify-content: center;
  background-color: #171723;
}

.flex_logo p{
  margin: 0;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
}

.div_texto{
  display: flex;
  width: 100%;
  min-height: 33.5%;
  align-items: center;
  background-color: #202030;
  margin-bottom: 1.5em;
}

.div_texto p{
  font-size: 16px;
  text-align: center;
  margin: 0 25px;
  color: #ffffff;
  display: flex;
  align-items: center;
}



.precio{
  display: flex;
  justify-content: center;
  font-size: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #171723;
  position: absolute;
  width: 100%;
  border-radius: 0 0 .2em .2em;
  bottom: 0 !important;
  height: 1.5em;
  align-items: center;
}

/* Footer */

footer{
  height: 280px;
  background-color: #2c2c41;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#info{
  margin-top: 35px;
  width: 48%;
  float: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  margin-left: 50px;
}

#info p{
  margin-bottom: 15px;
}

#info h3{
  margin-top: 45px ;
  font-size: 24px;
  font-weight: 300;
  
}

#info span{
  font-weight: 500;
}

#contacto{
  width: 45%;
  float: right;
  margin-top: 65px;
  border-left: solid #202030 2px;
  text-align: center;
  height: 170px;
  
}

#contacto h2{
  margin-bottom: 45px;
}

#contacto div{
  display: flex;
  gap: 30px;
  justify-content: center;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 768px) {

  .prev, .next,.text {font-size: 11px}

  body{
      padding-bottom: 500px;
  }

  header{
      padding-bottom: 20px;
  }

  header #logo, header nav, header nav li{
      float: none;
      text-align: center;
      width: 100%;
  }

  header h1{
      font-size: 40px;
      margin-bottom: 5px;
      border-bottom: solid #34344f;
  }

  header li{
      padding: 10px;
  
  }

  header a{
      font-size: 18px;
      
  }

  .slideshow-container img {
    height: 250px;
}

  

  footer{
      width: 100%;
      min-height: 460px;
      
  }

  #info{
      margin:0;
      margin-top: 25px;
      width: 100%;
      float: none;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      text-align: center;
      margin-left: 0;
  }
  
  #info h3{
      margin-top: 0 ;
      font-size: 24px;
      font-weight: 300;  
      border-bottom: #28283c 2px solid;
      padding-bottom: 25px;
      text-align: center;
  }
  
  #contacto{
      width: 100%;
      float: none;
      margin-top: 0;
      border-left: none;
      text-align: center;
      padding-top: 25px;
  }
  
  #contacto h2{
      margin-bottom: 45px;
  }
  
  #contacto div{
      justify-content: center;
  }

}

