/*COLORES

#181859
#8080E0
#3B3BD9
#3E3E5C
#2D2DA6
*/


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #c2c2f1;
    position: relative;
    min-height: 100vh;
    padding-bottom: 280px;
}

/*Ordenes Generales*/

.contenedor{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.btn_news{
    height: 27px;
    background-color: #c2c2f1;
    border: 0;
    border-radius: 10px;
    padding: 0 20px;
    color: #3E3E5C;
}

hr{

    height: 2px;
    color: #3b3bd9;
}

/*Header*/

header{
    background-color: #3E3E5C;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    
}

header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

header li{
    list-style: none;
    float:left;
    padding: 0 20px;
}

header #logo{

    float: left;
}

header nav {
    margin-top: 10px;
    float: right;
}

header a:hover{
    color: #8080E0;
}

header .marcado{
    color: #c2c2f1;
}

/* VIDRIERA */

#vidriera{
    min-height: 400px;
    background-image: url(../img/picos-de-montana-en-argentina_3840x2160_xtrafondos.com.jpg);
    background-size: cover;
    background-position: center;
    text-align: center; 
}

#vidriera h1{
    font-size: 60px;
    margin-top: 90px;
    margin-bottom: 15px;
    color: #ffffff
}

#vidriera p{
    font-size: 25px;
    color: #ffffff
}

#vidriera span{
    color: lightblue;
}

/* Newsletter */

#newsletter{
    background-color: #3E3E5C;
    color: #ffffff;
    padding: 15px
}

#newsletter h3{
    float: left;
    margin-top: 2px;
}

#newsletter form{
    float: right;
}

#newsletter input{
    padding: 4px;
    height: 20px;
    width: 200px;
    border-radius: 10px;
    border: 0;
    margin-right: 10px;
}

#newsletter button:hover{
    color: #3b3bd9;
}

/* Boxes */

#boxes{
    margin-top: 20px;
    color: #3E3E5C;
    margin-bottom: 20px;
}

#boxes .box{
    margin-top: 20px;
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;
}

#boxes img{
    width: 230px;
    height: 120px;
}

#boxes p{
    font-size: 14px;
    padding: 0 20px;
    margin-top: 10px;
    font-weight: 400;
}

#boxes h2{
    font-size: 25px;
    text-align: left;
    color: #3E3E5C;
    margin-bottom: 10px;
}

#boxes hr{
    background-color: #3E3E5C;
    border: 0;
}

/* Footer */

footer{
    height: 280px;
    background-color: #3E3E5C;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#info{
    margin-top: 35px;
    width: 48%;
    float: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    margin-left: 50px;
}

#info p{
    margin-bottom: 15px;
}

#info h3{
    margin-top: 45px ;
    font-size: 24px;
    font-weight: 300;
    
}

#info span{
    font-weight: 500;
}

#contacto{
    width: 45%;
    float: right;
    margin-top: 65px;
    border-left: solid #28283c 2px;
    text-align: center;
    height: 170px;
    
}

#contacto h2{
    margin-bottom: 45px;
}

#contacto div{
    display: flex;
    gap: 30px;
    justify-content: center;
}

@media only screen and (max-width: 768px) {

    body{
        padding-bottom: 450px;
    }

    header{
        padding-bottom: 20px;
    }

    header #logo, header nav, header nav li{
        float: none;
        text-align: center;
        width: 100%;
    }

    header h1{
        font-size: 40px;
        margin-bottom: 5px;
        border-bottom: solid #34344f;
    }

    header li{
        padding: 10px;
    
    }

    header a{
        font-size: 18px;
        
    }

    #vidriera h1{
        margin-top: 40px;
        font-size: 50px;
    }
    
    #vidriera p{
        font-size: 20px;
        margin-bottom: 40px;
    }

    #newsletter h3, #newsletter form{
        float: none;
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
    }

    #newsletter input{
        width: 100%;
        margin-bottom: 20px;
    }

    .btn_news{
        width: 100%;
        display: block;
    }

    #boxes .box{
        float: none;
        text-align: center;
        width: 100%;
        margin-bottom: 25px;
        
    }

    #boxes h2{
        font-size: 35px;
        text-align: center;
        padding: 0 50px;
    }

    #boxes h3{
        font-size: 25px;
        margin-top: 15px;
        text-align: center;
        

    }

    #boxes p{
        text-align: center;
       
    }

    #boxes hr{
        background-color: #8080E0;
        border: 0;
    }

    footer{
        width: 100%;
        min-height: 460px;
        
    }

    #info{
        margin:0;
        margin-top: 25px;
        width: 100%;
        float: none;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        text-align: center;
        margin-left: 0;
    }
    
    #info h3{
        margin-top: 0 ;
        font-size: 24px;
        font-weight: 300;  
        border-bottom: #28283c 2px solid;
        padding-bottom: 25px;
        text-align: center;
    }
    
    #contacto{
        width: 100%;
        float: none;
        margin-top: 0;
        border-left: none;
        text-align: center;
        padding-top: 25px;
    }
    
    #contacto h2{
        margin-bottom: 45px;
    }
    
    #contacto div{
        justify-content: center;
    }

   
}
