*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #c2c2f1;
    position: relative;
    min-height: 100vh;
    padding-bottom: 280px;
}

/*Ordenes Generales*/

.contenedor{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#slideshow{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

hr{

    height: 2px;
    color: #3b3bd9;
}

/*Header*/
header{
    background-color: #3E3E5C;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;   
}

header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

header li{
    list-style: none;
    float:left;
    padding: 0 20px;
}

header #logo{

    float: left;
}

header nav {
    margin-top: 10px;
    float: right;
}

header a:hover{
    color: #8080E0;
}

header .marcado{
    color: #c2c2f1;
}

.mySlides {
    margin-top: 30px;
    display: none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slideshow-container img {
    vertical-align: middle;
    filter: brightness(70%);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #3E3E5C;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #8080E0;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #3E3E5C;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Footer */

footer{
  height: 280px;
  background-color: #3E3E5C;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#info{
  margin-top: 35px;
  width: 48%;
  float: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  margin-left: 50px;
}

#info p{
  margin-bottom: 15px;
}

#info h3{
  margin-top: 45px ;
  font-size: 24px;
  font-weight: 300;
  
}

#info span{
  font-weight: 500;
}

#contacto{
  width: 45%;
  float: right;
  margin-top: 65px;
  border-left: solid #28283c 2px;
  text-align: center;
  height: 170px;
  
}

#contacto h2{
  margin-bottom: 45px;
}

#contacto div{
  display: flex;
  gap: 30px;
  justify-content: center;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
  
  footer{
    width: 100%;
    min-height: 460px;
    
}

#info{
    margin:0;
    margin-top: 25px;
    width: 100%;
    float: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    margin-left: 0;
}

#info h3{
    margin-top: 0 ;
    font-size: 24px;
    font-weight: 300;  
    border-bottom: #28283c 2px solid;
    padding-bottom: 25px;
    text-align: center;
}

#contacto{
    width: 100%;
    float: none;
    margin-top: 0;
    border-left: none;
    text-align: center;
    padding-top: 25px;
}

#contacto h2{
    margin-bottom: 45px;
}

#contacto div{
    justify-content: center;
}

}

