/*COLORES

#181859
#8080E0
#3B3BD9
#3E3E5C
#2D2DA6
*/


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #c2c2f1;
    position: relative;
    min-height: 100vh;
    padding-bottom: 280px;
}

/*Ordenes Generales*/

.contenedor{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

hr{

    height: 2px;
    color: #3b3bd9;
}

/*Header*/

header{
    background-color: #3E3E5C;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    
}

header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

header li{
    list-style: none;
    float:left;
    padding: 0 20px;
}

header #logo{

    float: left;
}

header nav {
    margin-top: 10px;
    float: right;
}

header a:hover{
    color: #8080E0;
}

header .marcado{
    color: #c2c2f1;
}



#vidriera_somos{
    background-image: url(../img/Verano-2019-Mar-del-Plata-Atardecer-y-amanecer-con-drone-2.jpg);
    min-height: 400px;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;

}

#vidriera_somos h1{
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    color: #ffffff;  
}

#vidriera_somos span{
    color: #eeeeee;
    
}

.texto_somos{
    float: left;
    max-width: 60%;
    margin-bottom: 50px;
}

.texto_somos h3{
    margin-top: 30px;
    color: #3E3E5C;
    font-size: 30px;
    font-weight: 700;
}

.texto_somos p{
    margin-top: 30px;
    color: #000000;
    max-width: 80%;
}

.cuadrito{
    float: right;
    max-width: 30%;
    background-color: #8080E0;
    margin-top: 50px;
    padding: 15px;
    border: #3E3E5C solid;
}

.cuadrito h3{
    margin-top: 10px;
    color: #3E3E5C;
}

.cuadrito p{
    margin-top: 20px;
    color: #000000;
    max-width: 80%;
}

.weatherwidget-io{
    margin-top: 60px;
    border: #3E3E5C solid;
}

/* Footer */

footer{
    height: 280px;
    background-color: #3E3E5C;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#info{
    margin-top: 35px;
    width: 48%;
    float: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    margin-left: 50px;
}

#info p{
    margin-bottom: 15px;
}

#info h3{
    margin-top: 45px ;
    font-size: 24px;
    font-weight: 300;
    
}

#info span{
    font-weight: 500;
}

#contacto{
    width: 45%;
    float: right;
    margin-top: 65px;
    border-left: solid #28283c 2px;
    text-align: center;
    height: 170px;
    
}

#contacto h2{
    margin-bottom: 45px;
}

#contacto div{
    display: flex;
    gap: 30px;
    justify-content: center;
}
@media only screen and (max-width: 768px){

    header{
        padding-bottom: 20px;
    }

    header #logo, header nav, header nav li{
        float: none;
        text-align: center;
        width: 100%;
    }

    header h1{
        font-size: 40px;
        margin-bottom: 5px;
        border-bottom: solid #34344f;
    }

    header li{
        padding: 10px;
    }

    header a{
        font-size: 18px; 
    }

    .texto_somos{
        float: none;
        max-width: 100%;
        text-align: center;
    }

    .texto_somos h2{
        text-align: center;
    }
    
    .texto_somos p{
        max-width: 100%;
        margin-top: 30px;   
    }

    .cuadrito{
        float: none;
        max-width: 100%;
        margin-bottom: 200px;
        text-align: left;
    }

    .cuadrito p{
        margin-top: 10px;
    }

    iframe{
        margin-bottom: 200px;
    }

    footer{
        width: 100%;
        min-height: 460px;
        
    }

    #info{
        margin:0;
        margin-top: 25px;
        width: 100%;
        float: none;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        text-align: center;
        margin-left: 0;
    }
    
    #info h3{
        margin-top: 0 ;
        font-size: 24px;
        font-weight: 300;  
        border-bottom: #28283c 2px solid;
        padding-bottom: 25px;
        text-align: center;
    }
    
    #contacto{
        width: 100%;
        float: none;
        margin-top: 0;
        border-left: none;
        text-align: center;
        padding-top: 25px;
    }
    
    #contacto h2{
        margin-bottom: 45px;
    }
    
    #contacto div{
        justify-content: center;
    }


}