
/*COLORES

#181859
#8080E0
#3B3BD9
#3E3E5C
#2D2DA6
*/


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #c2c2f1;
}



/*Ordenes Generales*/

.contenedor{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.btn_news{
    height: 27px;
    background-color: #c2c2f1;
    border: 0;
    border-radius: 10px;
    padding: 0 20px;
    color: #3E3E5C;
}

hr{

    height: 2px;
    color: #3b3bd9;
}


/*Header*/

header{
    background-color: #3E3E5C;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    
}

header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

header li{
    list-style: none;
    float:left;
    padding: 0 20px;
}

header #logo{

    float: left;
}

header nav {
    margin-top: 10px;
    float: right;
}

header a:hover{
    color: #8080E0;
}

header .marcado{
    color: #c2c2f1;
}


/* VIDRIERA */

#vidriera{
    min-height: 400px;
    background-image: url(img2/picos-de-montana-en-argentina_3840x2160_xtrafondos.com.jpg);
    background-size: cover;
    background-position: center;
    text-align: center; 
}

#vidriera h1{
    font-size: 60px;
    margin-top: 90px;
    margin-bottom: 15px;
    color: #ffffff
}

#vidriera p{
    font-size: 25px;
    color: #ffffff
}

#vidriera span{
    color: lightblue;
}


/* Newsletter */

#newsletter{
    background-color: #3E3E5C;
    color: #ffffff;
    padding: 15px
}

#newsletter h3{
    float: left;
    margin-top: 2px;
}

#newsletter form{
    float: right;
}

#newsletter input{
    padding: 4px;
    height: 20px;
    width: 200px;
    border-radius: 10px;
    border: 0;
    margin-right: 10px;
}

#newsletter button:hover{
    color: #3b3bd9;
}

/* Boxes */

#boxes{
    margin-top: 20px;
    color: #3E3E5C;
    margin-bottom: 20px;
}

#boxes .box{
    margin-top: 20px;
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;
}

#boxes img{
    width: 230px;
    height: 120px;
}

#boxes p{
    font-size: 13px;
    padding: 0 20px;
    margin-top: 10px;
}

#boxes h2{
    font-size: 25px;
    text-align: left;
    color: #3E3E5C;
    margin-bottom: 10px;
}

#boxes hr{
    background-color: #3E3E5C;
    border: 0;
}

/* Footer */

footer{
    height: 50px;
    background-color: #3E3E5C;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}

footer p{
    padding-top: 15px;
}


/* Somos */

#vidriera_somos{
    background-image: url(img2/Verano-2019-Mar-del-Plata-Atardecer-y-amanecer-con-drone-2.jpg);
    min-height: 400px;
    background-size: cover;
    background-position: center;
    text-align: center;

}


#vidriera_somos h1{
    font-size: 60px;
    margin-top: 90px;
    text-align: center;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: 500;
}

#vidriera_somos span{
    color: #8080E0;
}

.texto_somos{
    float: left;
    max-width: 60%;
    margin-bottom: 50px;
}

.texto_somos h3{
    margin-top: 30px;
    color: #3E3E5C;
    font-size: 30px;
    font-weight: 700;
}

.texto_somos p{
    margin-top: 30px;
    color: #000000;
    max-width: 80%;
}

.cuadrito{
    float: right;
    max-width: 30%;
    background-color: #8080E0;
    margin-top: 50px;
    padding: 15px;
    border: #3E3E5C solid;

    
}

.cuadrito h3{
    margin-top: 10px;
    color: #3E3E5C;
}

.cuadrito p{
    margin-top: 20px;
    color: #000000;
    max-width: 80%;
    
}

.weatherwidget-io{
    margin-top: 60px;
    border: #3E3E5C solid;
}


/* Media query Inicio*/

@media only screen and (max-width: 768px) {

    header{
        padding-bottom: 20px;
    }

    header #logo, header nav, header nav li{
        float: none;
        text-align: center;
        width: 100%;
    }

    header h1{
        font-size: 40px;
        margin-bottom: 5px;
        border-bottom: solid #34344f;
    }

    header li{
        padding: 10px;
    
    }

    header a{
        font-size: 18px;
        
    }

    #vidriera h1{
        margin-top: 40px;
        font-size: 50px;
    }
    
    #vidriera p{
        font-size: 20px;
    }

    #newsletter h3, #newsletter form{
        float: none;
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
    }

    #newsletter input{
        width: 100%;
        margin-bottom: 20px;
    }

    .btn_news{
        width: 100%;
        display: block;
    }

    #boxes .box{
        float: none;
        text-align: center;
        width: 100%;
    }

    #boxes h2{
        font-size: 35px;
        text-align: center;
        padding: 0 50px;
    }

    #boxes h3{
        font-size: 25px;
        margin-top: 15px;
        text-align: center;
    }

    #boxes p{
        text-align: center;
       
    }

    #boxes hr{
        background-color: #8080E0;
        border: 0;
    }

    
}

@media only screen and (max-width: 768px){

    .texto_somos{
        float: none;
        max-width: 100%;
        text-align: left;

    }
    
    .texto_somos p{
        margin-top: 10px;
        
    }

    .cuadrito{
        float: none;
        max-width: 100%;
        margin-bottom: 30px;
        text-align: left;
    }

    .cuadrito p{
        margin-top: 10px;
    }

}


